@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root {
    --primary-color: #6c40d1;
    --secondary-color: #fc6dab;
    --accent-color: #17b890;
    --light-color: #ecf0f1;
    --dark-color: #34252f;
    --spacing: 1rem;
    --border-radius: 24px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka';
    background-color: #f8f9fa;
    color: var(--dark-color);
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.titulo_1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--primary-color);
}

.seccion, .seccion2 {
    display: flex; /* Organiza los elementos en una fila*/
    justify-content: center; /* Centra los elementos de la fila*/
    flex-wrap: wrap; /* Ayuda a que los elementos sean responsive al ajustarlos en otra fila*/
    gap: 2rem;
    margin-bottom: 3rem;
}

.valor1, .valor2, .valor3, .valor4, .valor5 {
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    max-width: 300px;
    flex: 1 1 300px; /* Permite que las tarjetas se ajusten */
    border-top: 4px solid var(--secondary-color);
}


.titulo_2 {
    font-size: 1.5rem;
    margin: 1rem 0 1rem;
    color: var(--primary-color);
}

.parrafo {
    color: #666;
    font-size: 1rem;
}

/* Responsividad */
@media (max-width: 768px) {
    .seccion, .seccion2 {
        flex-direction: column;
        align-items: center;
    }
}

.seccion {
    text-align: center; 
}

.contenedor-secciones {
    display: flex; /* Usamos flexbox para alinear en fila */
    justify-content: space-around; /* Espaciado entre las secciones */
    align-items: flex-start; /* Alineación superior */
    flex-wrap: wrap; /* Permite que las secciones se ajusten a diferentes pantallas */
}

.mision, .vision, .mensaje {
    flex: 1; /* Cada sección ocupa el mismo espacio */
    margin: 10px; /* Espaciado entre secciones */
    max-width: 30%; /* Ancho máximo para cada sección */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para un efecto visual */
    padding: 15px; /* Espaciado interno */
    background-color: #f9f9f9; /* Color de fondo */
    border-radius: 5px; /* Bordes redondeados */
}

.image-mision img, .image-vision img, .image-mensaje img {
    max-width: 100%; /* Asegura que la imagen no exceda el contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}
