@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root {
    --primary-color: #2c3e50;
    --secondary-color: #3498db; /* Color azul */
    --accent-color: #e74c3e;
    --light-color: #ecf0f1;
    --dark-color: #2c3e50;
    --spacing: 1rem;
    --border-radius: 24px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka';
    background-color: #f8f9fa;
    color: var(--dark-color);
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.titulo_1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--primary-color);
}

.seccion, .seccion2 {
    display: flex; /* Organiza los elementos en una fila*/
    justify-content: center; /* Centra los elementos de la fila*/
    flex-wrap: wrap; /* Ayuda a que los elementos sean responsive al ajustarlos en otra fila*/
    gap: 2rem;
    margin-bottom: 3rem;
}

.valor1, .valor2, .valor3, .valor4, .valor5 {
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    max-width: 300px;
    flex: 1 1 300px; /* Permite que las tarjetas se ajusten */
    border-top: 4px solid var(--secondary-color);
}

.valor1 img, .valor2 img, .valor3 img, .valor4 img, .valor5 img {
    width: 100%; /* Asegura que las imágenes sean responsivas */
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}

.vali

.titulo_2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}

.parrafo {
    color: #666;
    font-size: 1rem;
}

/* Responsividad */
@media (max-width: 768px) {
    .seccion, .seccion2 {
        flex-direction: column;
        align-items: center;
    }
}
